

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

*:hover{
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}


/*Profile Card 1*/
.profile-card-1 {
  float: right;
  overflow: hidden;
  width: 50%;
  color: #ffffff;
  text-align: center;
  padding-top: 10%;
  height: 100%;
  border:none;
}
.profile-card-1 .background {
  width:100%;
  vertical-align: top;
  opacity: 0.9;
  -webkit-filter: blur(5px);
  filter: blur(5px);
   -webkit-transform: scale(1.8);
  transform: scale(2.8);
}
.profile-card-1 .card-content {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  position: absolute;
  left: 0;
}
.profile-card-1 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.profile-card-1 h2 {
  margin: 0 0 5px;
  font-weight: 600;
  font-size:25px;
}
.profile-card-1 h2 small {
  display: block;
  font-size: 15px;
  margin-top:10px;
}
.profile-card-1 i {
  display: inline-block;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.profile-card-1 .icon-block{
    float:left;
    width:100%;
    margin-top:15px;
}
.profile-card-1 .icon-block a{
    text-decoration:none;
}
.profile-card-1 i:hover {
  background-color:#fff;
  color:#2E3434;
  text-decoration:none;
}

/* ************************** */
.plan .row{
  display: flex;
  justify-content: left;
}
.plan .row .card {

  display: flex;
  height: 500px;
  width: 200px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.plan .row  .card:not(:first-child) {
    margin-left: -5px;
}


@media only screen and (max-width: 659px) {
  .plan .row  .card:not(:first-child) {
    margin-left: -50px;
}
}
.plan .row  .card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.plan .row .card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.plan .row .title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

.plan .row  .bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.plan .row .emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.plan .row .filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
  transition: 0.6s ease-out;
}

.plan .row .card:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}

.plan .row .circle {
  position: absolute;
  top: 150px;
  left: calc(50% - 60px);
  opacity: 0;
}

.plan .row .stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

.plan .row svg {
  fill: #17141d;
  stroke-width: 2px;
}

.plan .row .card:hover .circle {
  animation: fadeIn 2s ;
}
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}
.plan .row  .card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}

