
.v-testimonials a:link,
.v-testimonials a:hover,
.v-testimonials a:active,
.v-testimonials a:visited {
  transition: color 150ms;
  color: #95a5a6;
  text-decoration: none;
}
.v-testimonials a:hover {
  color: #7f8c8d;
  text-decoration: underline;
}
.v-testimonials .contain {
  width: 100%;
}
.v-testimonials .row {
  overflow-y: hidden;
  overflow-x: scroll;
  width: 100%;
}
.v-testimonials .row__inner {
  transition: 450ms transform;
  font-size: 0;
  white-space: nowrap;
  margin: 70.3125px 0;
  padding-bottom: 10px;
}
.v-testimonials .tile {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 140.625px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center left;
}


.v-testimonials .tile__img {
  width: 250px;
  height: 140.625px;
  -o-object-fit: cover;
     object-fit: cover;
}
/* .tile__details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 10px;
  opacity: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
  transition: 450ms opacity;
} */
.v-testimonials .tile__details:after,
.v-testimonials .tile__details:before {
  /* content: ''; */
  position: absolute;
  top: 50%;
  left: 50%;
  display: #000;
}
.v-testimonials .tile__details:after {
  margin-top: -25px;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  border: 3px solid #ecf0f1;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}
.v-testimonials .tile__details:before {
  /* content: '▶'; */
  left: 0;
  width: 100%;
  font-size: 30px;
  margin-left: 7px;
  margin-top: -18px;
  text-align: center;
  z-index: 2;
}
.v-testimonials .tile:hover .tile__details {
  opacity: 1;
}
.v-testimonials .tile__title {
  position: absolute;
  bottom: 0;
  padding: 10px;
}
.v-testimonials .row__inner:hover {
  transform: translate3d(-62.5px, 0, 0);
}
.v-testimonials .row__inner:hover .tile {
  opacity: 0.3;
}
.v-testimonials .row__inner:hover .tile:hover {
  transform: scale(1.5);
  opacity: 1;
}
.v-testimonials .tile:hover ~ .tile {
  transform: translate3d(125px, 0, 0);
}
/* ******************/

#happy ~ .option-happy {
    cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png"), auto;
  }

#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #000000;
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #000000;
}

#style-3::-webkit-scrollbar-thumb
{
    border-radius: 1em;
	background-color: #b10000;
}
/* ******************* */

.message1{
    float: right;
    margin: 5em;
    width: 150px;
    height: auto;
}
@media only screen and (max-width: 600px) {
    .message1{
        float:none;
        margin-top: 2em;
    }
  }